<!DOCTYPE html>
<html>
  <head>
    <title>なんぷれ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=M+PLUS+1:wght@200&family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>  
      <h1 class="app_title"><%= link_to 'なんぷれ', root_url %></h1>
      <%= link_to '設定', edit_settings_url %>
    </header>
    <div class="body">
      <%= yield %>
    </div>
    <footer>
      <%- if flash[:notice] %>
        <div class="comment"><%= flash[:notice] %></div>
      <%- end %>
    </footer>
    <canvas id="maru"></canvas>
  </body>
</html>
